%li
  .project
    %span= assignment.indentifier
    %span
      |
      = link_to t("assignment.edit"), edit_assignment_path(assignment)
      |
      = link_to t('assignment.delete'), assignment_path(assignment), method: :delete, class: "destroy", data: { confirm: t(:confirm) }
      |
