.outer
  .container
    %h1= title
    %hr/
    %table.entries
      %tr
        %th
          Invoice #
        %th
          Client - Project Name
        %th
          From-To dates
        %th
          Actions
        = render partial: "invoice", collection: @invoices